a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 25px;
  color: #aaa;
  text-align: center;
}

td {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.alive {
  background: slategrey;
}

.dead {
  background: whitesmoke;
}

.container {
  width: 1000px;
  height: 1000px;
  margin: auto;
  padding: 1%;
  justify-content: center;
}
